:root {
  /* colors */
  --color-white: #FFFFFF;
  --background-color-light-blue: #2980b9;
  --background-color-light-blue-hover: #7caece;
  --background-color-light-grey: #F3F6F9;  
  --background-color-blue: #171f42;
  --color-grey: #7b8e98;
  --color-black: #000;
  --color-light-grey: #E0E0E0;
  --color-dark-grey: #828282;
  --border-line: #E5EAF2;
}